{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/basic.css' %}"/>
{% block body_block %}

<div class="container">

  <h1 align ='center'>FOOD CALORIE COUNTER</h1>
</div>


<br>

<div class="container">

    <h6>Calories provide the energy that your body needs to function and stay alive.

While there is no evidence to support that negative-calorie foods burn more calories than they provide, foods that are already low in calories may actually provide fewer calories than expected. This is because your body uses energy to digest them.</h6>

<form align = "center" method="post">
      {% csrf_token %}
      {{ form.as_p }}
    <button type="submit">Search food info</button>
  </form>
  <br>



<div class="content-wrapper">
      <div class="portfolio-items-wrapper">

        <div class="portfolio-item-wrapper select1">
          <div class="portfolio-img-background"style= "background-image: url(static/images/food.jpeg)"></div>

          <div class="img-text-wrapper">


              <div class="subtitle subtitle1">
                Did you know!!
                The Yubari melon is the world's most expensive fruit.
              </div>



          </div>

        </div>
        <div class="portfolio-item-wrapper select2">
          <div class="portfolio-img-background"style= "background-image: url(static/images/fruits.jpeg)"></div>

          <div class="img-text-wrapper">

              <div class=" subtitle subtitle2">
                Kiwi fruit contains more vitamin C than oranges.
              </div>



          </div>

        </div>
          <div class="portfolio-item-wrapper select3">
            <div class="portfolio-img-background"
            style= "background-image: url(static/images/vegan.jpeg)"></div>
            <div class="img-text-wrapper">

                <div class="subtitle subtitle3">
                  Did you Know!!!
                  Potatoes were the first vegetable to be grown in space.
                </div>

            </div>

            </div>
            </div>
            </div>
            </div

{% endblock %}
