{%extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{%static '/css/change.css' %}">
<br>
<article >
<div class="container">
<h2>Tell Me More about FoodCalorie Counter</h2>
<dl>
  <dt>
  What is FoodCalorie Counter?
</dt>
<dd>
<p>FoodCalorie Counter is an integrated, research-focused data system that provides expanded data on nutrients and other foods components as well as links to sources of related agricultural, food, dietary supplement, and other information. FoodCalorie Counter can be used by, and has benefits for, a variety of users, including educators, nutrition and health professionals,and others.</p></dd>
<dt>
  Why FoodCalorie Counter is launched ?
</dt>
<dd>
  <p>The food supply is constantly changing and evolving, with new products and formulations continuously introduced into the marketplace and other products being removed. Moreover, ingredients and raw agricultural products are also constantly changing. In addition, current thinking about the role of diet, health, and wellness is moving beyond a focus on single nutrients to encompass foods, food groups, and dietary patterns.</p>

<p>These diverse trends have implications for research, food policy, dietary guidance, and product development. They are creating a growing number of uses for data about food and an urgent need for transparent and easily accessible information about the nutrients and other components of foods and food products. This need required a new approach to analyzing, compiling, and presenting food profile information in a scientifically rigorous way. FoodData Central embodies this new approach and will provide expanded food and experimental data and additional functionality as the system continues to develop.</p>
</dd>
</dl>




</div>
</article>

    <!-- <div class="container">
        <p>Food name:  {{ food }}</p>
    </div> -->


{% endblock content %}
